.main-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15% 0;
}

/* .weather-forecast {
    margin-top: 15%;
}

.twitter-feed {
    margin-bottom: 20%;
} */

.api-div {
    border-color: #ff9900;
}
div h3 {
    color: #9999ff;
    font-size: 3rem;
}

#map {
    height: 500px;
}