html, body {
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: peachpuff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100%;
}



/* everything in body */
body > * {
    outline: 1px dashed fuchsia;
    text-align: center;
    min-height: 200px;
    margin: 10px;
}

.stringGenerator {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px 10%;
}

.stringGenerator > * {
    margin: auto;
}

.stringGenerator img {
    max-width: 100%;
    max-height: 50%;
    min-height: 5%;
}

.quoteDisplay {
    font-size: 2rem;
}

/* .stringGenerator button {
    position: relative;
    top: 0px;
} */

/* 
.addFortuneSection {
    height: 20px;
} */