.imagesGrid {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 10%;
} 

.imagesGrid img {
    box-sizing: border-box;
    width: 100%;
    padding: 5%;
    margin: 5% 0;
} 