html {
    font-size: 10px;
    font-family:  'Space Mono';
}

body {
    margin: 0;
    box-sizing: border-box;
}


.hero-image {
    background-image: url("../images/the_universe.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 600px;
}

.hero-text {
    font-size: 6rem;
    color: #ffffff;
    margin: auto;
    text-align: center;
    vertical-align: center;
    top: 60px;
}

.sticky {
    position: sticky;
    top: 0;
}

.nav-bar {
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.0);
    padding-top: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.nav-bar a {
    text-align: center;
    white-space: nowrap;
    padding: 10px;
    margin: auto;
    padding: 0 20px;
    border: 1px solid #9999ff;
    border-radius: 15px;
    background-color: #ffffff;
}

a {
    text-decoration:  none;
}

#logo img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

#logo:hover {
    width: 15%;
    height: 15%;
    transition: width, height, 1.5s;
}

a:hover {
    /* font-size: 2.5rem; */
    transition: color, 1.5s;
    transition: font-size, 1.5s;
    font-size: 3rem;
    color: #ff9999;
}

a:link {
    color: #9999ff;
}

a:active {
    color: #999999;
}

.content {
    display: inline;
    font-size: 3rem;
}

.project {
    background-color: rgba(255, 255, 255, 0.5);
}

.project img {
    width: 80%;
    display: block;
    margin: auto;
}

.project-title {
    padding-left: 10%;
    background-color: rgba(255, 255, 255, 1.0);
    border: 10px dotted #999999;
}

.project p {
    font-size: 1.5rem;
    padding: 0 10%;
}

.profile-image {
    width: 140px;
    width: 100%;
    border-radius: 50%;
}