html {
    font-size: 10px;
    font-family: 'Shadows Into Light';
}

body {
    background-image: url("../images/coffee-table.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    margin: 0;
}

/* header {
    display: flex;
    font-size: 3rem;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    background-color: #ffffff; 
} */

#nav {
    position: sticky;
    top: 0;
}

nav {
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
}

nav a {
    margin: auto;
}

a {
    text-decoration:  none;
}

#logo {
    width: 60px;
    height: 60px;
    display: block;
}

#logo:hover {
    width: 100px;
    height: 100px;
    transition: width, height, .25s;
}

a:hover {
    font-size: 4rem;
    transition: font-size, .25s;
    color: #ff9999;
}

a:link {
    color: #9999ff;
}

a:active {
    color: #999999;
}

#hero-image {
    margin: auto;
    color: #ff9999;
    padding: 25%;
}

#content {
    font-size: 3rem;
    display: grid;
    justify-items: stretch;
}

#content div {
    padding: 0 10%;
    background-color: #ffffff
}

p {
    font-size: 1.5rem;
}