.projects-wrapper {
    height: 100%;
}
.projects {
    font-size: 3rem;
    height: 100%;
}

.project {
    height: 100%;
}

.project-content {
    overflow: scroll;
    height: 65%;
}

.project-title {
    white-space: normal;
}

.project img {
    width: 80%;
    display: block;
    margin: auto;
}

.project p {
    text-align: left;
    font-size: 1.5rem;
    padding: 0 10%;
    white-space: normal;
}

.profile-image {
    width: 140px;
    min-height: 140px;
    height: 20%;
    border-radius: 50%;
    position: sticky;
    right: 0;
    top: 0;
    padding-left: 0;
    margin-left: 0;
    opacity: .9;
}

section > .button {
    border-color: #99ff99;
}