html {
    font-size: 10px;
    font-family:  'Space Mono';
}

body {
    margin: 0;
    /* overflow-anchor: none;  makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)
    display: flex;  /*enables flex content for its children*/
    /*flex-direction: column; */
    box-sizing: border-box;
}


.hero-image {
    background-image: url("../images/the_universe.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 600px;
}

.hero-text {
    font-size: 6rem;
    color: #ffffff;
    margin: auto;
    text-align: center;
    vertical-align: center;
    top: 60px;
}

.sticky {
    position: sticky;
    top: 0;
}

/* .nav-bar-project-titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

nav {
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #ffffff;
}

nav a {
    margin: auto;
}

a {
    text-decoration:  none;
}

#logo {
    width: 60px;
    height: 60px;
    display: block;
}

#logo:hover {
    width: 80px;
    height: 80px;
    transition: width, height, .25s;
}

a:hover {
    font-size: 4rem;
    transition: font-size, .25s;
    color: #ff9999;
}

a:link {
    color: #9999ff;
}

a:active {
    color: #999999;
}

.content {
    font-size: 3rem;
}

.project {
    background-color: rgba(255, 255, 255, 0.5);
}

.project img {
    width: 80%;
    margin: auto;
}

.project-title {
    padding-left: 10%;
    background-color: #ffffff;
}

/* @media screen and (max-width: 680px) {
    .profile-image {
        outline: 5px solid red;
    }
    .project-title {
        top: 89px;
    }
} */

.project p {
    padding: 0 5%;
    font-size: 1.5rem;
}

.profile-image {
    width: 140px;
    width: 100%;
    border-radius: 50%;
}