html {
    font-size: 10px;
    font-family: 'Shadows Into Light', cursive;
    background-color: #ff9900;
}

h1 {
    font-size: 60px;
    margin: auto;
    color: #999999;
}

a {
    text-decoration: none;
}

p, li {
    font-size: 2em;    
    line-height: 2;
    letter-spacing: 1px;
    color: #999999;
}

body {
    width: 50%;
    margin: 20px auto;
    background-color: #99ff99;
    padding: 10px 20px 20px 20px;
    border: 5px solid #9999ff;
}

#head {
    display: flex;
}

#tabs {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 10px;
    vertical-align: middle;
    text-align: center;
    /* position: sticky;
    top: 0; */
}

#logo {
    width: 60px;
    height: 60px;
    display: block;
    margin: 10px auto;
    transition: width, height, .25s;
}

#links {
    margin: 0;
    padding: 0 auto;
    font-size: 3em;
    transition: font-size, .25s;
    white-space: nowrap;
    /* background-color: #99ff99; */
}

a:link {
    color: #9999ff;
}

a:hover, a:visited {
    color: #ff9999;
}

#links:hover {
    font-size: 6em;
    overflow: visible;
}

#logo:hover {
    width: 100px;
    height: 100px;
    overflow: visible;
}

a:active {
    color: #999999;
}

#profile {
    width: 70%;
    min-width: 100px;
    height: calc(width);
    min-height: 100px;
    display: block;
    margin: 20px auto;
}
